<div class="lt-row">
  {{#each (sort-by "value" coins) as |coin|}}
    <button class="btn btn-outline-success" {{action 'add' coin}}>
      {{fa-icon "plus"}} {{coin.value}}
    </button>
  {{/each}}
</div>
