{{#unless students}}
  <div class="text-center">
    <p>You don't have any students yet, consider adding some!</p>
  </div>
{{else}}
  <ul class="list-group">
    {{#each students as |student|}}
      <li class="list-group-item">
        {{student.fullName}}
        <div class="pull-right">
          <i class="fa fa-pencil" aria-hidden="true" {{action 'edit' student}}></i>
          <i class="fa fa-trash-o" aria-hidden="true" {{action 'delete' student}}></i>
        </div>
      </li>
    {{/each}}
  </ul>
{{/unless}}
