<h2>Edit</h2>

<div class="form-group">
  <label for="studentFirstName">First Name</label>
  {{input value=model.firstName class="form-control"}}
</div>

<div class="form-group">
  <label for="studentLastName">Last Name</label>
  {{input value=model.lastName class="form-control"}}
</div>

<div class="form-group pull-right">
  <button {{action 'save' model}} class="btn btn-success">
    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
  </button>
</div>
